<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="{{url_for('statics',path='/css/main.css')}}" rel="stylesheet">
    <title>Fish Tank Controller</title>
</head>

<body>

    <div class="login-page">
        <div class="form">
            <form class="login-form" action="http://localhost:33000/forgetpassword" method="POST">
                <p class="message" ><strong> We will send your password to the email After login pleace change the password</strong> </p>
                <input type="email" placeholder="Email" value="" name="email"/>
                <button type="submit">login</button>
            </form>
        </div>
        <script src="{{url_for('statics',path='/js/main.js')}}"></script>
    </div>

</body>

</html>