[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pydantic = {extras = ["email"], version = "*"}
influxdb = "*"
paho-mqtt = "*"
install = "*"
aiofiles = "*"
jinja2 = "*"
python-multipart = "*"

[requires]
python_version = "3.7"

[scripts]
Server = "python run.py"
